### Read data from income.csv and scale the relevant features using standardization

In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [8]:
df = pd.read_csv('income.csv')
df.head()

      Name  Age  Income  Buy
0      Rob   27   70000  Yes
1  Michael   29   90000   No
2    Mohan   29   61000  Yes
3   Ismail   28   60000  Yes
4     Kory   42  150000   No

In [5]:
# Numeric columns
features_column = ["Age", "Income"]

In [6]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df[features_column])
scaled_df = pd.DataFrame(scaled_data, columns=features_column)
final_df = pd.concat([df.drop(columns=features_column), scaled_df], axis=1)

- Standarized Data

In [7]:
print(final_df.head())

      Name  Buy       Age    Income
0      Rob  Yes -1.356055 -0.480684
1  Michael   No -1.009157 -0.010159
2    Mohan  Yes -1.009157 -0.692421
3   Ismail  Yes -1.182606 -0.715947
4     Kory   No  1.245679  1.401417